/*--------------------------------------*\
	    Friends : medium size;
\*--------------------------------------*/


.friend {
	width: 90%;
	float: left;
	height: 5vw;
	border-radius: .5vw;
	text-align: center;

	margin: 0 0% 5% 5%;
	padding-top: 1vw;

	
	cursor: pointer;
    font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 2.5vw;

    color: #98AABB;
}

.friend:hover {
	background-color: rgba(200,200,200,.5);
}


.friend-holder {
	width: 100%;
	margin: 5% 0vw 0vw 0vw;
}


@media only screen and (min-width: 1000px) {
	.friend {
		height: 5vh;
		font-size: 3.5vh;
		margin: 0 0% 3vh 5%;
	padding-top: .75vw;

	}


	.friend-holder {
	width: 100%;
	margin: 2vh 0vw 0vw 0vw;
	}
}


@media only screen and (min-width: 0px) and (max-width: 599px) {
    .friend {
    	height: 4vh;
    	font-size: 2vh;
    	padding-top: 1vh;
    	margin-bottom: 1vh;
    	margin-top: -2vh;
    }

}