/*--------------------------------------*\
  LANDING-PAGE : size-agnostic stuff
\*--------------------------------------*/



div .PondiCircles {
    position: absolute;
    border: .4vw solid #D2E6C1;
    border-radius: 50vw;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(209, 209, 209, 0.25);

    width: 50vw;
    height: 50vw;

    margin: 7.5vw 25vw 25vw 25vw;


}



div .PondiCircles.two {
    -webkit-animation: gentle-move-two 10s infinite alternate ease;
    animation: gentle-move-two 10s infinite alternate ease;
    border: .4vw solid #D2E6C1;
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
}

div .PondiCircles.three {
    -webkit-animation: gentle-move-three 17s infinite alternate ease;
    animation: gentle-move-three 17s infinite alternate ease;
    border: .4vw solid #C1D6E5;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

div .PondiCircles.four {
    -webkit-animation: gentle-move-four 8s infinite alternate ease;
    animation: gentle-move-four 8s infinite alternate ease;
    border: .4vw solid #D2E6C1;
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

.Landing h1 {
    cursor: default;

    position: absolute;

    width: 50vw;
    height: 13vw;
    margin: 25vw 25vw 25vw 25vw;
    font-family: Barlow, sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-size: 10vw;
    text-align: center;
    color: #598EA4;
}


.LandingForm {
    position: absolute;
    top: 65vw;
    text-align: center;
    width: 70vw;
    left: -20vw;
}

.LandingForm form {
    position: absolute;
    top: 0vw;
    width: 69vw;
}

.LandingForm label {
    font-size: 2.6vw;
    width: 69vw;
    position: absolute;
    top: 0vw;
}

.LandingForm button {
    font-family: Barlow, sans-serif;
}



.login-landing {
    font-family: Barlow, sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-size: 2.5vw;
    width: 10vw;
    position: absolute;
    left: 90vw;
    top: 1vw;
    color: #598EA4;
    text-decoration: none;
}

/*--------------------------------------*\
	    LANDING-PAGE : rly rly small size;
\*--------------------------------------*/

@media only screen and (min-width: 600px) {

    .LandingForm label {
        font-size: 3.5vw;
    }

    .LandingForm button {
        font-size: 3vw;
        padding: 1.3vw;
        left: 54vw;
        width: 30vw;
        position: absolute;
        top: 41.5vh;
        border-radius: 5vw;
        background-color: #E6EFF5;
        box-shadow: 0px 4px 12px rgba(186, 199, 213, 0.5);
        border: none;
    }

    .LandingForm label textarea {
        margin-top: 1.5vw;
        height: 38vh;
        width: 69vw;
        border-radius: 1.5vw;
        border: none;

        background: linear-gradient(270deg, #C1D6E5 0%, #D6E4EE 57.64%, #FFFFFF 131.67%);
        box-shadow: 0px 15px 20px rgba(70, 122, 151, 0.15);

        font-family: Barlow, sans-serif;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        font-size: 2.5vw;
        padding: 1.5vw;

    }


}

/*--------------------------------------*\
	    LANDING-PAGE : rly small size;
\*--------------------------------------*/

@media only screen and (min-width: 710px) {

    .LandingForm button {
        font-size: 3vw;
        padding: 1.3vw;
        left: 54vw;
        width: 30vw;
        position: absolute;
        top: 35vh;
        border-radius: 5vw;
        background-color: #E6EFF5;
        box-shadow: 0px 4px 12px rgba(186, 199, 213, 0.5);
        border: none;
    }

    .LandingForm label textarea {
        margin-top: 1.5vw;
        height: 30vh;
        width: 69vw;
        border-radius: 1.5vw;
        border: none;

        background: linear-gradient(270deg, #C1D6E5 0%, #D6E4EE 57.64%, #FFFFFF 131.67%);
        box-shadow: 0px 15px 20px rgba(70, 122, 151, 0.15);

        font-family: Barlow, sans-serif;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        font-size: 2.5vw;
        padding: 1.5vw;

    }


}


/*--------------------------------------*\
	    LANDING-PAGE : small size;
\*--------------------------------------*/

@media only screen and (min-width: 810px) {

    .LandingForm button {
        font-size: 2vw;
        padding: 1.3vw;
        left: 54vw;
        width: 30vw;
        position: absolute;
        top: 27vh;
        border-radius: 5vw;
        background-color: #E6EFF5;
        box-shadow: 0px 4px 12px rgba(186, 199, 213, 0.5);
        border: none;
    }

    .LandingForm label textarea {
        margin-top: 1.5vw;
        height: 22vh;
        width: 69vw;
        border-radius: 1.5vw;
        border: none;

        background: linear-gradient(270deg, #C1D6E5 0%, #D6E4EE 57.64%, #FFFFFF 131.67%);
        box-shadow: 0px 15px 20px rgba(70, 122, 151, 0.15);

        font-family: Barlow, sans-serif;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        font-size: 2.2vw;
        padding: 1.5vw;

    }


}


/*--------------------------------------*\
	    LANDING-PAGE : medium size;
\*--------------------------------------*/

@media only screen and (min-width: 940px) {



    .LandingForm button {
        font-size: 2vw;
        padding: 1.3vw;
        left: 54vw;
        width: 30vw;
        position: absolute;
        top: 20vh;
        border-radius: 5vw;
        background-color: #E6EFF5;
        box-shadow: 0px 4px 12px rgba(186, 199, 213, 0.5);
        border: none;
    }

    .LandingForm label textarea {
        margin-top: 1.5vw;
        height: 14vh;
        width: 69vw;
        border-radius: 1.5vw;
        border: none;

        background: linear-gradient(270deg, #C1D6E5 0%, #D6E4EE 57.64%, #FFFFFF 131.67%);
        box-shadow: 0px 15px 20px rgba(70, 122, 151, 0.15);

        font-family: Barlow, sans-serif;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        font-size: 1.5vw;
        padding: 1.5vw;

    }




}


/*--------------------------------------*\
	    LANDING-PAGE : large size;
\*--------------------------------------*/

@media only screen and (min-width: 940px) {

    div .PondiCircles {
        position: absolute;
        border: .3vw solid #D2E6C1;
        border-radius: 50vw;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(209, 209, 209, 0.25);

        width: 30vw;
        height: 30vw;

        margin: 7.5vw 40vw 40vw 40vw;
    }

    div .PondiCircles.two {
        -webkit-animation: gentle-move-two 10s infinite alternate ease;
        animation: gentle-move-two 10s infinite alternate ease;
        border: .4vw solid #D2E6C1;
        animation-delay: .5s;
        -webkit-animation-delay: .5s;
    }

    div .PondiCircles.three {
        -webkit-animation: gentle-move-three 17s infinite alternate ease;
        animation: gentle-move-three 17s infinite alternate ease;
        border: .4vw solid #C1D6E5;
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
    }

    div .PondiCircles.four {
        -webkit-animation: gentle-move-four 8s infinite alternate ease;
        animation: gentle-move-four 8s infinite alternate ease;
        border: .4vw solid #D2E6C1;
        animation-delay: 1.5s;
        -webkit-animation-delay: 1.5s;
    }

    .Landing h1 {
        cursor: default;

        position: absolute;

        width: 50vw;
        height: 13vw;
        margin: 18vw 25vw 25vw 30vw;
        font-family: Barlow, sans-serif;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        font-size: 7vw;
        text-align: center;
        color: #598EA4;
    }


.LandingForm {
    position: absolute;
    top: 45vw;
    text-align: center;
    width: 70vw;
    left: -20vw;
}

.LandingForm form {
    position: absolute;
    top: 0vw;
    width: 69vw;
}

.LandingForm label {
    font-size: 2.6vw;
    width: 69vw;
    position: absolute;
    top: 0vw;
}

.LandingForm button {
    font-family: Barlow, sans-serif;
}



.login-landing {
    font-family: Barlow, sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-size: 2.5vw;
    width: 10vw;
    position: absolute;
    left: 90vw;
    top: 1vw;
    color: #598EA4;
    text-decoration: none;
}




}




/*--------------------------------------*\
  LANDING-PAGE : medium size, Animations
\*--------------------------------------*/

/* Normal */

@-webkit-keyframes gentle-move {
    50% {
        transform: translate(-15px, 10px);
    }

    /*10% { transform: translateX(7px); }
        50% { transform: translateX(0px); }
        90% { transform: translateX(-7px); }*/
    100% {
        transform: translate(10px, 15px);
    }
}

@keyframes gentle-move {
    50% {
        transform: translate(-15px, 10px);
    }

    /*10% { transform: translateX(7px); }
        50% { transform: translateX(0px); }
        90% { transform: translateX(-7px); }*/
    100% {
        transform: translate((10px, 15px));
    }
}

/* Two */

@-webkit-keyframes gentle-move-two {
    50% {
        transform: translate(-30px, -20px);
    }

    /*10% { transform: translateX(7px); }
        50% { transform: translateX(0px); }
        90% { transform: translateX(-7px); }*/
    100% {
        transform: translate(10px, 30px);
    }
}

@keyframes gentle-move-two {
    50% {
        transform: translate(-30px, -20px);
    }

    /*10% { transform: translateX(7px); }
        50% { transform: translateX(0px); }
        90% { transform: translateX(-7px); }*/
    100% {
        transform: translate(10px, 30px);
    }
}

/* Three */

@-webkit-keyframes gentle-move-three {
    50% {
        transform: translate(15px, -15px);
    }

    /*10% { transform: translateX(7px); }
        50% { transform: translateX(0px); }
        90% { transform: translateX(-7px); }*/
    100% {
        transform: translate(-10px, 10px);
    }
}

@keyframes gentle-move-three {
    50% {
        transform: translate(15px, -15px);
    }

    /*10% { transform: translateX(7px); }
        50% { transform: translateX(0px); }
        90% { transform: translateX(-7px); }*/
    100% {
        transform: translate(-10px, 10px);
    }
}

/* four */

@-webkit-keyframes gentle-move-four {
    50% {
        transform: translate(-10px, -3px);
    }

    /*10% { transform: translateX(7px); }
        50% { transform: translateX(0px); }
        90% { transform: translateX(-7px); }*/
    100% {
        transform: translate(10px, 3px);
    }
}

@keyframes gentle-move-four {
    50% {
        transform: translate(-10px, -3px);
    }

    /*10% { transform: translateX(7px); }
        50% { transform: translateX(0px); }
        90% { transform: translateX(-7px); }*/
    100% {
        transform: translate(10px, 3px);
    }
}