
/*--------------------------------------*\
           Login : medium size;
\*--------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Barlow');


.Login {
    position: absolute;
    width: 50vh;
    margin: 0;
    left: calc(50vw - 30vh);
    top: 17vh;
    border: 0px solid black;
    padding: 5vh;

    font-family: Barlow, sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-size: 1.8vh;
    background-color: white;

    border-radius: 3vh;
    background: #FDFDFD;
    box-shadow: 0px 15px 20px rgba(70, 122, 151, 0.15);


}


.Login-H1 {
    position: absolute;
    top: 6vh;
    width: 30vh;
    left: calc(50vw - 15vh);
    text-align: center;
    font-family: Barlow, sans-serif;
    padding-top: 5vh;
    padding-bottom: 22vh;
    font-size: 3vh;
    font-weight: 500;
    margin: 0vw 0 3vh 0;
    margin-bottom: 1vh;

    border-radius: 50%;
    border: 2px solid #C1D6E5;
}

.login-fname {
    font-family: Barlow, sans-serif;
    font-size: 2vh;
    float: left;
    width: calc(50% - 5vh);
    margin-right: 6vh;
    border: none;
    border-bottom: 1px solid #AAAAAA;
    padding: 1vh 1vh .5vh .3vh;
    margin-bottom: 1vh;
    background: rgba(0, 0, 0, 0.0);


}

.login-lname {

    font-family: Barlow, sans-serif;
    font-size: 2vh;
    float: right;
    width: calc(50% - 5vh);
    border: none;
    border-bottom: 1px solid #AAAAAA;
    padding: 1vh 1vh .5vh .3vh;
    margin-bottom: 1vh;
    background: rgba(0, 0, 0, 0.0);

}

.login-wide {
    font-family: Barlow, sans-serif;
    font-size: 2vh;
    width: calc(100% - 3vh);
    margin-top: 1vh;
    margin-bottom: 1vh;

    border: none;
    border-bottom: 1px solid #AAAAAA;
    padding: 1vh 1vh .5vh .3vh;
    background: rgba(0, 0, 0, 0.0);

}

.login-button {
    font-family: Barlow, sans-serif;
    font-size: 3.0vh;
    padding-bottom: .5vw;
    width: 15vh;
    position: absolute;
    margin-top: 2vh;
    left: calc(50% - 7.5vh);
    height: 6vh;
    background: #E6EFF5;
    /* Elevation 2 ~ iOS */
    box-shadow: 0px 4px 12px rgba(186, 199, 213, 0.5);
    border-radius: 2.5vw;
    border: none;
    cursor: pointer;
}

.lofin-button:hover {
    background: #E0E9F0;
}

.lofin-wide-label {
    width: calc(100% - 3vh);
    text-align: center;
    font-size: 2vh;
    margin: 1vh;
    margin-bottom: 2vh;
}


.RegisterButton {
 width: 100%;
 margin-top: 2.5vh;
 margin-bottom: 1vh;
}

.RegisterButton div:first-child {
width: 50%;float:left;  text-align: right;
padding-right: 1vw;

}
.RegisterButton div:last-child {
 width: 50%;float:right;
}

.login-button:hover {
 background: #E0E9F0;
}