/*--------------------------------------*\
	    LOGIN-PAGE : medium size;
\*--------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Barlow');


.Login-H1 {
  position: absolute;
  top: 17vh;
  width: 30vw;
  left: 35vw;
 text-align: center;
 font-family: Barlow, sans-serif;
 padding-top: 5vh;
 padding-bottom: 22vh;
 font-size: 3vw;
 font-weight: 500;
 margin: 0vw 0 3vw 0;
 margin-bottom: 1vw;
 border-radius: 50%;
 border: 2px solid #C1D6E5;
}



.Login {
 position: absolute;
 width: 50%;
 left: 20%;
 top: 27vh;
 border: 0px solid black;
 padding: 5vw;

 font-family: Barlow, sans-serif;
 font-style: normal;
 font-weight: 100;
 line-height: normal;
 font-size: 2vw;
 background-color: white;

 border-radius: 3vw;
 background: #FDFDFD;
box-shadow: 0px 15px 20px rgba(70, 122, 151, 0.15);


}



.login-wide {
 font-family: Barlow, sans-serif;
 font-size: 1.8vw;
 width: calc(100% - 3vw);
 margin-top: 1vw;
 margin-bottom: 1vw;
 border: none;
 border-bottom: 1px solid #AAAAAA;
 padding: 1vw 1vw .5vw .3vw;
 background:rgba(0,0,0,0.0);
}

.login-button {
 font-family: Barlow, sans-serif;
 font-size: 3.0vw;
 padding-bottom: .5vw;
 width: 15vw;
 position: absolute;
 top: 24vh;
 left: 22.5vw;
 height: 6vw;
 background: #E6EFF5;
/* Elevation 2 ~ iOS */
box-shadow: 0px 4px 12px rgba(186, 199, 213, 0.5);
border-radius: 2.5vw;
border: none;
cursor: pointer;
text-decoration: none;
}

.RegisterButton {
 width: 100%;
 margin-top: 3vw;
 margin-bottom: 0vw;
}

.RegisterButton div:first-child {
width: 50%;float:left;	text-align: right;
padding-right: 1vw;

}
.RegisterButton div:last-child {
 width: 50%;float:right;
}

.login-button:hover {
 background: #E0E9F0;
}

