/*--------------------------------------*\
	    OCEAN-PAGE : medium size;
\*--------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Barlow');


.Ocean {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
		width: calc(70%);
	float: right;
	
	height: calc(100vh);
	/*border: solid 5px black;*/



}

@media only screen and (min-width: 1200px) {
	.Ocean {
		width: calc(100vw - 38vh);
		margin: 0;
	}
}