.Prompt {
    position: absolute;
    left: 37vw;
    top: 5vh;
    right: 15vw;
    width: 50vw;
    height: 7.5vh;
    font-size: 3vh;
    font-family: Barlow;
    overflow: auto;
  }
  
  .Container {
    position: absolute;
    border: 2px solid #d7e2ea;
    border-radius: 12px;
    left: 35vw;
    top: 15vh;
    width: 56vw;
    height: 70vh;
    padding-left: 2vw;
    padding-right: 5px;
    padding-top: 3vh;
    background-color: #ffffff;
  }
  
  .Post {
    position: absolute;
    cursor: pointer;
    right: 7vw;
    bottom: 4vh;
    border: 2px solid #d7e2ea;
    border-radius: 50px;
    width: 7vw;
    height: 5vh;
    font-size: 3vh;
    font-family: Barlow;
  }
  
  .Categories {
    position: absolute;
    border: none;
    cursor: pointer;
    font-family: Barlow;
    font-size: 2vh;
    bottom: 2vh;
    left: 1vw;
  }
  
  .Visibility {
    position: absolute;
    right: 1vw;
    bottom: 1.5vh;
  }
  
  .Upload {
    position: absolute;
    cursor: pointer;
    right: 3vw;
    bottom: 1vh;
  }
  
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  textarea {
    width: 54vw;
    height: 63vh;
    resize: none;
    font-size: 2.5vh;
    font-family: "Barlow";
    color: #b2b2b2;
    border: none;
    outline: none;
  }
  
  img {
    width: 1.5vw;
    height: 3vh;
  }
  
  input {
    width: 1.5vw;
    height: 3vh;
  }
  
  button {
    color: #b2b2b2;
  }
  
  .Refresh {
    position: absolute;
    top: 7vh;
    right: 7vw;
  }
  
  .Edit {
    position: absolute;
    top: 7vh;
    right: 10vw;
  }