/*--------------------------------------*\
	    PROMPT_DISPLAY : medium size;
\*--------------------------------------*/

.prompt .prompt_title {
	width: 40vw;	
	margin-bottom: -1vw;
	font-family: Barlow, sans-serif;
	font-size: 2.0vw;
}

.prompt .prompt_contents {
	font-family: Barlow, sans-serif;
	font-size: 1.75vw;
	width: 40vw;
	float: left;
	color: #b2b2b2;
	margin-bottom: 3vw;
}

.prompt {
	margin: 0 5vw 0 5vw;
}

.prompt hr{
	width: 100%;
	color: #C1D6E5;
	height: 1px;
	margin-bottom: 3vw;
}

.prompt .prompt_date {
	width: 10vw; float: right;	color: #b2b2b2;
}

 .avatar-prompt {
		margin-top: 0vh;
			margin-bottom: 3vh;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: 8vw;
	border-radius: 50%;
	border: 1vw solid #98AABB;
	border-style: double;
	height: 8vw;
	float: left;
	margin: 0 2vw 2vw 3vw;
}

.avatar-prompt img{
box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: calc(100%);
	height: calc(100%);
	border-radius: 50%;
}