/*--------------------------------------*\
	    PROMPT_DISPLAY : medium size;
\*--------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Barlow');


.prompt .prompt_title {
    width: 100%;
    margin-bottom: -1vw;
    font-family: Barlow, sans-serif;
    font-size: 2.0vw;
}

.prompt .prompt_contents {
    font-family: Barlow, sans-serif;
    font-size: 1.75vw;
    width: 40vw;
    float: left;
    color: #b2b2b2;
    margin-bottom: 3vw;
}

.prompt {
    margin: 0 5vw 0 5vw;
}

.prompt hr {
    width: 100%;
    border-top: 1px solid rgba(200, 200, 200, .4);

    height: 0px;
    margin-bottom: 3vw;
}

.prompt .prompt_date {
    font-family: Barlow, sans-serif;
    width: 10vw;
    float: right;
    color: #b2b2b2;
}

.avatar-prompt {
    margin-top: 0vh;
    margin-bottom: 3vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 8vw;
    border-radius: 50%;
    border: 1vw solid #98AABB;
    border-style: double;
    height: 8vw;
    float: left;
    margin: 0 2vw 2vw 3vw;
}

.avatar-prompt img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: calc(100%);
    height: calc(100%);
    border-radius: 50%;
}

@media only screen and (min-width: 600px) {

    .prompt .prompt_title {
        margin-bottom: -1vw;
        font-family: Barlow, sans-serif;
        font-size: 1.7vh;
    }

    .prompt .prompt_contents {
        font-family: Barlow, sans-serif;
        font-size: 1.6vh;
        width: 32vw;
        float: left;
        color: #b2b2b2;
        margin-bottom: 3vw;
    }

    .prompt {
        margin: 0 5vw 0 5vw;
    }

    .prompt hr {
        width: 100%;
        border-top: 1px solid rgba(200, 200, 200, .4);

        height: 0px;
        margin-bottom: 3vw;
    }

    .prompt .prompt_date {
        font-family: Barlow, sans-serif;
        width: 10vw;
        float: right;
        color: #b2b2b2;
        font-size: 1.5vh;
        margin-top: 2vh;

    }

    .avatar-prompt {
        margin-top: 0vh;
        margin-bottom: 3vh;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 8vw;
        border-radius: 50%;
        border: .8vw solid #98AABB;
        border-style: double;
        height: 8vw;
        float: left;
        margin: 0 2vw 2vw 5vw;
    }

    .avatar-prompt img {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: calc(100%);
        height: calc(100%);
        border-radius: 50%;
    }
}

@media only screen and (min-width: 900px) {

    .prompt .prompt_title {
        width: 40vw;
        margin-bottom: -1vw;
        font-family: Barlow, sans-serif;
        font-size: 2.0vw;
    }

    .prompt .prompt_contents {
        font-family: Barlow, sans-serif;
        font-size: 1.75vw;
        width: 35vw;
        float: left;
        color: #b2b2b2;
        margin-bottom: 3vw;
    }

    .prompt {
        margin: 0 5vw 0 0vw;
    }

    .prompt hr {
        width: 100%;
        border-top: 1px solid rgba(200, 200, 200, .4);

        height: 0px;
        margin-bottom: 3vw;
    }

    .prompt .prompt_date {
        font-family: Barlow, sans-serif;
        width: 10vw;
        float: right;
        color: #b2b2b2;
    }

    .avatar-prompt {
        margin-top: 0vh;
        margin-bottom: 3vh;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 8vw;
        border-radius: 50%;
        border: .8vw solid #98AABB;
        border-style: double;
        height: 8vw;
        float: left;
        margin: 0 2vw 2vw 0vw;
    }

    .avatar-prompt img {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: calc(100%);
        height: calc(100%);
        border-radius: 50%;
    }

}


@media only screen and (min-width: 1200px) {
    .prompt .prompt_title {
        width: 40vw;
        margin-bottom: -1vw;
        font-family: Barlow, sans-serif;
        font-size: 2.3vh;
    }

    .prompt .prompt_contents {
        font-family: Barlow, sans-serif;
        font-size: 2.1vh;
        width: calc(100vw - 38vh - 33vh);
        float: left;
        color: #b2b2b2;
        margin-bottom: 3vh;
    }

    .prompt {
        margin: 0 5vh 0 5vh;
    }

    .prompt hr {
        width: 100%;

        margin-bottom: 3vh;
    }

    .prompt .prompt_date {
        font-family: Barlow, sans-serif;
        width: calc(10vh);
        float: right;
        margin-top: 2.65vh;
        color: #b2b2b2;
        font-size: 2vh;
    }

    .avatar-prompt {
        margin-top: 0vh;
        margin-bottom: 3vh;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 8vh;
        border-radius: 50%;
        border: 1vh solid #98AABB;
        border-style: double;
        height: 8vh;
        float: left;
        margin: 0vh 2vh 3vh 5vh;
    }

    .avatar-prompt img {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: calc(100%);
        height: calc(100%);
        border-radius: 50%;
    }
}


@media only screen and (min-width: 0px) and (max-width: 599px) {
    .prompt .prompt_title {
        width: 80vw;
        margin-bottom: -1vw;
        font-family: Barlow, sans-serif;
        font-size: 2vh;
    }

    .prompt .prompt_contents {
        font-family: Barlow, sans-serif;
        font-size: 1.7vh;
        width: calc(55vw);
        float: left;
        color: #b2b2b2;
        margin-bottom: 3vh;
    }

    .prompt {
        margin: 0 5vh 0 5vh;
    }

    .prompt hr {
        width: 100%;

        margin-bottom: 3vh;
    }

    .prompt .prompt_date {
        font-family: Barlow, sans-serif;
        width: calc(12vw);
        float: right;
        margin-top: 1.8vh;
        color: #b2b2b2;
        font-size: 1.7vh;
    }

    .avatar-prompt {
        margin-top: 0vh;
        margin-bottom: 3vh;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 8vh;
        border-radius: 50%;
        border: 1vh solid #98AABB;
        border-style: double;
        height: 8vh;
        float: left;
        margin: 0vh 2vh 3vh 5vh;
    }

    .avatar-prompt img {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: calc(100%);
        height: calc(100%);
        border-radius: 50%;
    }

}