/*--------------------------------------*\
        SIDEBAR-PAGE : medium size;
\*--------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Barlow');


.SideBar {
    position: fixed;
    font-family: Barlow, sans-serif;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    height: calc(100vh);
    background: #F7F8F8;
    padding: none;

}


.Username {
    text-align: center;
    width: calc(80%);

    padding: none;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-style: normal;
    font-weight: normal;
    line-height: normal;

    cursor: pointer;
    color: white;
}



.Button {
    width: 100%;
    background: none;
    border: none;
    font-family: Barlow, sans-serif;
    position: relative;
    z-index: 20;
    cursor: pointer;
}

.Button:hover {
    background: #bbccdd;
}

.avatar {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: calc(40%);
    border-radius: 50%;
    border: 1vw solid #98AABB;
    border-style: double;
    margin-left: calc(30%);
}

.avatar img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: calc(100%);
    height: calc(100%);
    border-radius: 50%;
}

.sidebar-vector1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    visibility: hidden;
}

.sidebar-vector2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    visibility: hidden;
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .SideBar {
        width: 100vw;
        height: 15vh;
        background-image:
            linear-gradient(to right,
            #F7F8F8 0%,
            #F7F8F8 60%,
            rgba(176, 202, 220, 0.9) 70%,
            rgba(176, 202, 220, 0.9) 100%);
        min-width: 500px !important
    }

    body {
        min-width: 480px !important;

    }

    .avatar {
        margin: 0;
        margin-top: 2.5vh;
        margin-left: 2.5vh;
        height: 10vh;
        width: 10vh;
        border: .8vw solid #98AABB;

    }

    .Username {
        margin-top: -7.5vh;
        margin-left: 15vh;
        text-align: center;
        height: 5vh;
        width: 15vh;

        font-size: 2vh;
        padding-top: 1vh;
        border: 2px solid rgba(255, 255, 255, .0);
        border-radius: 8px;

        background: radial-gradient(40vw at 51.82% 100%, rgba(109, 143, 167, 0.6) 0%, rgba(226, 234, 241, 0.6) 100%);
        cursor: pointer;
        color: #FFFFFF;
    }

    .Button {
        width: 30%;
        float: right;
        margin-left: 70%;
        font-size: 2vh;

    }

    .Button:nth-of-type(1) {
        margin-top: -8vh;
    }

    .Button:nth-of-type(2) {
        margin-top: -5vh;
    }

    .Button:nth-of-type(3) {
        margin-top: -2vh;
    }

    .Button:nth-of-type(4) {
        margin-top: -0vh;
    }

    .Button:hover {
        background-color: rgba(0, 0, 20, .05);

    }

}


@media only screen and (min-width: 600px) {

    .SideBar {
        width: 35vw;
        background-image:
            linear-gradient(#F7F8F8,
            #F7F8F8,
            rgba(176, 202, 220, 0.9),
            rgba(176, 202, 220, 0.9));
        padding: none;
    }


    .Username {
        margin-bottom: 35vh;

        text-align: center;
        height: 5vh;
        width: calc(80%);

        font-size: 2vh;
        margin-left: calc(10%);
        padding-bottom: 1vh;
        padding-top: 1vh;

        border: 2px solid rgba(255, 255, 255, .0);
        border-radius: 50px;

        background: radial-gradient(40vw at 51.82% 100%, rgba(109, 143, 167, 0.6) 0%, rgba(226, 234, 241, 0.6) 100%);
        cursor: pointer;
        color: white;
    }


    .Button {
        font-size: 2vh;
    }

    .Button:hover {
        background-color: rgba(0, 0, 20, .05);

    }

    .avatar {
        margin-top: 10vh;
        margin-bottom: 3vh;
        width: 14vw;
        border-radius: 50%;
        border: 1.5vw solid #98AABB;
        border-style: double;
        margin-left: 10.5vw;
        height: 14vw;
    }

    .avatar img {
        width: calc(100%);
        height: calc(100%);
        border-radius: 50%;
    }


}

@media only screen and (min-width: 900px) {

    .SideBar {
        width: 30vw;
        background: #F7F8F8;
        padding: none;
    }


    .Username {
        margin-bottom: 35vh;

        text-align: center;
        height: 5vh;
        width: calc(80%);

        font-size: 2vh;
        margin-left: calc(10%);
        padding-bottom: 1vh;
        padding-top: 1vh;

        border: 2px solid rgba(255, 255, 255, .0);
        border-radius: 50px;

        background: radial-gradient(40vw at 51.82% 100%, rgba(109, 143, 167, 0.6) 0%, rgba(226, 234, 241, 0.6) 100%);
        cursor: pointer;
        color: white;
    }



    .Button {
        height: 4vh;
        font-size: 2vh;
    }

    .Button:hover {
        background: #bbccdd;
    }

    .avatar {
        margin-top: 10vh;
        margin-bottom: 3vh;
        width: calc(40%);
        border-radius: 50%;
        border: 1vw solid #98AABB;
        border-style: double;
        margin-left: calc(30%);
        height: 12vw;
    }

    .avatar img {
        width: calc(100%);
        height: calc(100%);
        border-radius: 50%;
    }

    .sidebar-vector1 {
        visibility: visible;

        width: 30vw;
        height: 50vh;
    }

    .sidebar-vector2 {
        visibility: visible;

        width: 30vw;
        height: 50vh;
    }



}

@media only screen and (min-width: 1200px) {
    .SideBar {
        width: 38vh;
        background: #F7F8F8;
        padding: none;
    }


    .Username {
        margin-bottom: 35vh;

        text-align: center;
        height: 5vh;
        width: calc(80%);

        font-size: 2vh;
        margin-left: calc(10%);
        padding-bottom: 1vh;
        padding-top: 1vh;

        border: 2px solid rgba(255, 255, 255, .0);
        border-radius: 50px;

        background: radial-gradient(40vw at 51.82% 100%, rgba(109, 143, 167, 0.6) 0%, rgba(226, 234, 241, 0.6) 100%);
        cursor: pointer;
        color: white;
    }



    .Button {
        height: 4vh;
        font-size: 2vh;
    }

    .Button:hover {
        background: #bbccdd;
    }

    .avatar {
        margin-top: 10vh;
        margin-bottom: 3vh;
        width: 12vh;
        border-radius: 50%;
        border: 1.3vh solid #98AABB;
        border-style: double;
        margin-left: 13vh;
        height: 12vh;
    }

    .avatar img {
        width: calc(100%);
        height: calc(100%);
        border-radius: 50%;
    }

    .sidebar-vector1 {
        width: 38vh;
        height: 50vh;
    }

    .sidebar-vector2 {
        width: 38vh;
        height: 50vh;
    }

}